.MessagesContainer{
    font-size:24px ;
    font-weight: 900;
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 65px;
    }
    .MessagesContainer::before{
        z-index: -1;
        content: "";
        background-image:url(../../assets/background/img5.jpg) ;
        opacity: 0.5;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    .MessagesSection{
        display: flex;
        flex-direction: row;
        /* padding: 80px 0px; */
        height: 100%;
        align-items: flex-start;
    }
    .MessagesScreen{
        height: 100%;
        width: 100%;
        display: flex;
        flex: 2;
        align-items: center;
        flex-direction: column;
        /* padding: 40px 0px; */
    
    }
    .Messages{
        display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 2px 2px black;
    align-items: center;
    }
    .MessagesHeader{
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .ChatBox{
        height: 350px;
        background-color:rgba(135, 206, 250, 0.2);
        width: 100%;
        padding: 0px 10px;
        border-radius: 5px;
overflow: auto;
overflow-x: none;
    }