.AddImageAvatar {
  height: 100px !important;
  width: 100px !important;
}
.AddImageIcon {
  font-size: 50px !important;
  /* height: 85px !important;
    width: 85px !important; */
  background-color: gray;
  padding: 25px;
  border-radius: 50%;
}
